:root{
    --primary-color: #556B2F;
    --secondary-color:#374127 ;
    --light-color:#B0C095 ;
    --black-color: #282B25;
    
    --h1: 80px ;
    --h2: 64px;
    --h3: 51px;
    --h4: 41px;
    --h5: 32px;
    --h6: 26px;
    --p:21px
}


body{
    margin: 0;
    padding: 0;
}

.main-image{
    width: 75rem;
    cursor: crosshair;
    border-radius: 10px;
    margin-top: 7.5rem;
}

@font-face { /* Not working properly it seems */
    font-family: "Fjord";
    src: url("../public/fonts/FjordOne-Regular.ttf") format('ttf');
}

@font-face {
    font-family: "Sans-DM";
    src: url("../public/fonts/DMSans-VariableFont_opsz\,wght.ttf") format('ttf');
}

.fjord{
    font-family: 'Fjord', sans-serif;
}

.sans-dm{font-family: "Sans-DM", sans-serif;}

#root{
    background-image: url('../public/Styling/blob-scene-haikei 1.svg');
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.content{
    display: flex;
    justify-content: center;
}
.Game-bg{
    background-image: url("../public/Styling/layered-waves-haikei\ 1.svg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}


.game-items{
    position: relative;
}

.clicked{
    position: absolute;
    font-size: 1.5rem;
}
.item-holder {
    display: flex;
    width: 15rem;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    border: none;
    border-radius: 10px;
    height: 3.5rem;
    background-color: hsla(219, 72%, 72%, 0.75);
}

.item-holder:hover{
    background-color: hsla(219,72%,72%,.9);
}

.find-name{
    font-size: 1.25rem;
}

.find-image{
    width: 3rem;
}

.homepage-image{
    width: 29.125rem;
    height: 15.44rem;
    border-radius: 10px;
}

.clicked-circle{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border: dotted rgb(184, 6, 6) 5px;
    border-radius: 50%;
}

.game-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-home-games{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1{font-size: var(--h1);}
.h2{font-size: var(--h2);}
.h3{font-size: var(--h3);}
.h4{font-size: var(--h4);}
.h5{font-size: var(--h5);}
.h6{font-size: var(--h6);}
.p{font-size: var(--p);}


.title{
    color: var(--black-color);
}

.Tab{
    color: var(--secondary-color);
}

.homepage-game-name{
    color: var(--black-color);
    rotate: 270deg;
    position: relative;
    right: 16rem;
    bottom: 23.5rem;
}

.game-header{
    position: absolute;
    top: -2rem;
    color: var(--black-color);
}

.home-link{
    text-decoration: none;
    color: var(--light-color);
}
.home-link:hover{
    color: var(--black-color);
}

.add-leaderboard{
    position: absolute;
    background: var(--light-color);
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    top: 17.5rem;
    display: flex;
    flex-direction: column;
    width: 15rem;
    align-items: center;
    height: 15rem;
}

.add-leaderboard * {
    width: fit-content;
}

.add-leaderboard input{
    border-radius: 10px;
    border:none;
}

.leaderboard-buttons{
    display: flex;
    width: 10rem;
    justify-content: space-around;
}

.leaderboard-buttons button{
    background-color: #fff;
    border: none;
    border-radius: 10px;

}

.leaderboard-buttons button:hover{
    background-color: var(--primary-color);
}