.main-image{
    width: 75rem;
    cursor: crosshair
}

.content{
    display: flex;
    justify-content: center;
}

.clicked{
    position: absolute;
    font-size: 1.5rem;
}
.item-holder {
    display: flex;
    width: 15rem;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    border: none;
    border-radius: 10px;
    height: 3.5rem;
    background-color: hsla(219, 72%, 72%, 0.75);
}

.item-holder:hover{
    background-color: hsla(219,72%,72%,.9);
}

.find-name{
    font-size: 1.25rem;
}

.find-image{
    width: 3rem;
}

.homepage-image{
    width: 20rem;
}

.clicked-circle{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border: dotted rgb(184, 6, 6) 5px;
    border-radius: 50%;
}

.game-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}