:root{
    --primary-color: #556B2F;
    --secondary-color:#374127 ;
    --light-color:#B0C095 ;
    --gradient: linear-gradient(#556B2F,#A6D15C )
}

body{
    margin: 0;
    padding: 0;
}

.main-image{
    width: 75rem;
    cursor: crosshair
}

#root{
    background-image: url('../public/Styling/blob-scene-haikei 1.svg');
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.content{
    display: flex;
    justify-content: center;
}
.Game-bg{
    background-image: url("../public/Styling/layered-waves-haikei\ 1.svg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.game-items img{
    padding-top: 7.5rem;
}

.clicked{
    position: absolute;
    font-size: 1.5rem;
}
.item-holder {
    display: flex;
    width: 15rem;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    border: none;
    border-radius: 10px;
    height: 3.5rem;
    background-color: hsla(219, 72%, 72%, 0.75);
}

.item-holder:hover{
    background-color: hsla(219,72%,72%,.9);
}

.find-name{
    font-size: 1.25rem;
}

.find-image{
    width: 3rem;
}

.homepage-image{
    width: 20rem;
}

.clicked-circle{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border: dotted rgb(184, 6, 6) 5px;
    border-radius: 50%;
}

.game-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-over-screen{
    background: crimson;
} 

.clicked-border{
    border: red 1px solid ;
}